@import "./variables";

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: $primary_background;
  &_container {
    padding: 0px 50px;
  }
}

#dropdownMenuButton {
  background-color: $primary_background;
  border-color: $secondary_color;
}
