@import "./variables";

.nav_container {
  background-color: $secondary_color;
  height: 100%;
  width: 33.3%;
}

.nav_listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & li {
    margin-bottom: 20px;
    padding: 20px 0px;
    text-align: center;
    &:hover {
      background-color: #304476;
    }
  }

  & a {
    font-size: 30px;
    color: #596680;
  }
}
